{
  "openapi": "3.0.3",
  "info": {
    "title": "School Management API",
    "description": "Comprehensive API documentation for School Management System including user authentication, school management, class management, and various educational modules",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@schoolmanagement.com"
    }
  },
  "servers": [
    {
      "url": "https://wnm884z0-2003.inc1.devtunnels.ms/"
    },
    {
      "url": "http://wnm884z0-2003.inc1.devtunnels.ms/"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and login operations"
    },
    {
      "name": "User Management",
      "description": "User registration and management operations"
    },
    {
      "name": "School Management",
      "description": "School registration and management operations"
    },
    {
      "name": "Class Management",
      "description": "Class creation and management operations"
    },
    {
      "name": "Division Management",
      "description": "Division creation and management operations"
    },
    {
      "name": "File Upload",
      "description": "File upload operations for various content types"
    },
    {
      "name": "Reports",
      "description": "Report generation and analytics"
    },
    {
      "name": "Masters",
      "description": "Master data management operations"
    }
  ],
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Public API key"
      },
      "token": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "User auth token; optional for /web/* endpoints"
      }
    },
    "schemas": {},
    "parameters": {},
    "responses": {}
  },
  "security": [
    {
      "apikey": [],
      "token": []
    }
  ],
  "paths": {
    "/user/login": {
      "post": {
        "summary": "User Login",
        "description": "Authenticate user with username/email and password",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username or email address"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Logged in successfully..."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string"
                          },
                          "UserData": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Incorrect username or password..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "username or password parameter missing..."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/appUser/loginTeacher": {
    "post": {
      "summary": "Teacher Login",
      "description": "Authenticate teacher with mobile number and password",
      "tags": [
        "Authentication"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "MOBILE_NUMBER": {
                  "type": "string",
                  "description": "Teacher mobile number"
                },
                "PASSWORD": {
                  "type": "string",
                  "description": "Teacher password"
                }
              },
              "required": [
                "MOBILE_NUMBER",
                "PASSWORD"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Login successful",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "Logged in successfully..."
                  },
                  "data": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Bad request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Failed to authenticate..."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/appUser/verifyLoginOTP": {
    "post": {
      "summary": "Verify Login OTP",
      "description": "Verify OTP sent to user's mobile number for login",
      "tags": [
        "Authentication"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "MOBILE_NUMBER": {
                  "type": "string",
                  "description": "User mobile number"
                },
                "OTP": {
                  "type": "string",
                  "description": "OTP received on mobile"
                }
              },
              "required": [
                "MOBILE_NUMBER",
                "OTP"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "OTP verified successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "OTP verified successfully..."
                  },
                  "data": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Invalid OTP or error",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Invalid OTP..."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/appUser/sendLoginOTP": {
    "post": {
      "summary": "Send Login OTP",
      "description": "Send OTP to user's mobile number for login verification",
      "tags": [
        "Authentication"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "MOBILE_NUMBER": {
                  "type": "string",
                  "description": "User mobile number"
                }
              },
              "required": [
                "MOBILE_NUMBER"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "OTP sent successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "OTP sent successfully..."
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Error sending OTP",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Failed to send OTP..."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/appUser/register": {
    "post": {
      "summary": "Register App User",
      "description": "Register a new app user (student/teacher) with personal and school information",
      "tags": [
        "User Management"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "NAME": {
                  "type": "string",
                  "description": "Full name of the user"
                },
                "COUNTRY_ID": {
                  "type": "integer",
                  "description": "Country ID"
                },
                "STATE_ID": {
                  "type": "integer",
                  "description": "State ID"
                },
                "CITY_ID": {
                  "type": "integer",
                  "description": "City ID"
                },
                "DISTRICT_ID": {
                  "type": "integer",
                  "description": "District ID"
                },
                "ADDRESS": {
                  "type": "string",
                  "description": "User address"
                },
                "DOB": {
                  "type": "string",
                  "format": "date",
                  "description": "Date of birth"
                },
                "GENDER": {
                  "type": "string",
                  "description": "Gender (M/F)"
                },
                "IDENTITY_NUMBER": {
                  "type": "string",
                  "description": "Identity number (Aadhaar, etc.)"
                },
                "MOBILE_NUMBER": {
                  "type": "string",
                  "description": "Mobile number"
                },
                "EMAIL_ID": {
                  "type": "string",
                  "format": "email",
                  "description": "Email address"
                },
                "PASSWORD": {
                  "type": "string",
                  "description": "User password"
                },
                "ROLE": {
                  "type": "string",
                  "description": "User role (Student/Teacher)"
                },
                "SCHOOL_ID": {
                  "type": "integer",
                  "description": "School ID"
                },
                "PROFILE_PHOTO": {
                  "type": "string",
                  "description": "Profile photo URL"
                },
                "PINCODE": {
                  "type": "string",
                  "description": "PIN code"
                },
                "CLOUD_ID": {
                  "type": "string",
                  "description": "Cloud ID"
                },
                "DEVICE_NAME": {
                  "type": "string",
                  "description": "Device name"
                },
                "ANDROID_VERSION": {
                  "type": "string",
                  "description": "Android version"
                },
                "APP_VERSION": {
                  "type": "string",
                  "description": "App version"
                },
                "AGE": {
                  "type": "integer",
                  "description": "User age"
                },
                "CLIENT_ID": {
                  "type": "integer",
                  "description": "Client ID"
                }
              },
              "required": [
                "NAME",
                "MOBILE_NUMBER",
                "EMAIL_ID",
                "PASSWORD",
                "ROLE",
                "SCHOOL_ID"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "User registered successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "User registered successfully..."
                  },
                  "data": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Registration failed",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Failed to register user..."
                  }
                }
              }
            }
          }
        },
        "422": {
          "description": "Validation error",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 422
                  },
                  "message": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/school/sendRegistrationOTP": {
    "post": {
      "summary": "Send School Registration OTP",
      "description": "Send OTP to school's email for registration verification",
      "tags": [
        "School Management"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "EMAIL_ID": {
                  "type": "string",
                  "format": "email",
                  "description": "School email address"
                }
              },
              "required": [
                "EMAIL_ID"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "OTP sent successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "OTP sent successfully..."
                  }
                }
              }
            }
          }
        },
        "300": {
          "description": "Email already exists",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 300
                  },
                  "message": {
                    "type": "string",
                    "example": "Email already exist..."
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Error sending OTP",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Failed to send OTP..."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/school/verifyRegistrationOTP": {
    "post": {
      "summary": "Verify School Registration OTP",
      "description": "Verify OTP sent to school's email for registration",
      "tags": [
        "School Management"
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "EMAIL_ID": {
                  "type": "string",
                  "format": "email",
                  "description": "School email address"
                },
                "OTP": {
                  "type": "string",
                  "description": "OTP received on email"
                }
              },
              "required": [
                "EMAIL_ID",
                "OTP"
              ]
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "OTP verified successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "OTP verified successfully..."
                  }
                }
              }
            }
          }
        },
        "300": {
          "description": "Invalid OTP",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 300
                  },
                  "message": {
                    "type": "string",
                    "example": "Incorrect OTP..."
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Error verifying OTP",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 400
                  },
                  "message": {
                    "type": "string",
                    "example": "Failed to verify OTP..."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/createClass/get": {
    "post": {
      "summary": "Get Classes",
      "description": "Retrieve list of classes with pagination and filtering options",
      "tags": [
        "Class Management"
      ],
      "requestBody": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "pageIndex": {
                  "type": "integer",
                  "description": "Page index for pagination"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Number of records per page"
                },
                "sortKey": {
                  "type": "string",
                  "description": "Field to sort by",
                  "default": "ID"
                },
                "sortValue": {
                  "type": "string",
                  "enum": [
                    "ASC",
                    "DESC"
                  ],
                  "description": "Sort order",
                  "default": "DESC"
                },
                "filter": {
                  "type": "string",
                  "description": "Filter criteria"
                },
                "SCHOOL_ID": {
                  "type": "integer",
                  "description": "School ID to filter classes"
                }
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Classes retrieved successfully",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "example": 200
                  },
                  "message": {
                    "type": "string",
                    "example": "success"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Total number of records"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer"
                        },
                        "SCHOOL_ID": {
                          "type": "integer"
                        },
                        "NAME": {
                          "type": "string"
                        },
                        "SEQ_NO": {
                          "type": "integer"
                        },
                        "STATUS": {
                          "type": "string"
                        },
                        "TOTAL_FEES": {
                          "type": "number"
                        },
                        "MEDIUM_ID": {
                          "type": "integer"
                        },
                        "QUESTION_CLASS_ID": {
                          "type": "integer"
                        },
                        "IS_FEE_MAPPED": {
                          "type": "string"
                        },
                        "CLIENT_ID": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error retrieving classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to get class information..."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/createDivision/get": {
      "post": {
        "summary": "Get Divisions",
        "description": "Retrieve list of divisions with pagination and filtering options",
        "tags": [
          "Division Management"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageIndex": {
                    "type": "integer",
                    "description": "Page index for pagination"
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Number of records per page"
                  },
                  "sortKey": {
                    "type": "string",
                    "description": "Field to sort by",
                    "default": "ID"
                  },
                  "sortValue": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ],
                    "description": "Sort order",
                    "default": "DESC"
                  },
                  "filter": {
                    "type": "string",
                    "description": "Filter criteria"
                  },
                  "SCHOOL_ID": {
                    "type": "integer",
                    "description": "School ID to filter divisions"
                  },
                  "CLASS_ID": {
                    "type": "integer",
                    "description": "Class ID to filter divisions"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Divisions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of records"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "integer"
                          },
                          "SCHOOL_ID": {
                            "type": "integer"
                          },
                          "CLASS_ID": {
                            "type": "integer"
                          },
                          "NAME": {
                            "type": "string"
                          },
                          "SEQ_NO": {
                            "type": "integer"
                          },
                          "STATUS": {
                            "type": "string"
                          },
                          "CLIENT_ID": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Error retrieving divisions",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 400
                      },
                      "message": {
                        "type": "string",
                        "example": "Failed to get division information..."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/web/state/get": {
        "post": {
          "security": [
            {
              "apikey": []
            }
          ],
          "summary": "Get States",
          "description": "Retrieve list of states with pagination and filtering options",
          "tags": [
            "Masters"
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageIndex": {
                      "type": "integer",
                      "description": "Page index for pagination"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of records per page"
                    },
                    "sortKey": {
                      "type": "string",
                      "description": "Field to sort by",
                      "default": "ID"
                    },
                    "sortValue": {
                      "type": "string",
                      "enum": [
                        "ASC",
                        "DESC"
                      ],
                      "description": "Sort order",
                      "default": "DESC"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter criteria"
                    },
                    "COUNTRY_ID": {
                      "type": "integer",
                      "description": "Country ID to filter states"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "States retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "success"
                      },
                      "count": {
                        "type": "integer",
                        "description": "Total number of records"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ID": {
                              "type": "integer"
                            },
                            "COUNTRY_ID": {
                              "type": "integer"
                            },
                            "NAME": {
                              "type": "string"
                            },
                            "STATUS": {
                              "type": "string"
                            },
                            "CLIENT_ID": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "400": {
                "description": "Error retrieving states",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "message": {
                          "type": "string",
                          "example": "Failed to get state information..."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/web/city/get": {
        "post": {
          "security": [
            {
              "apikey": []
            }
          ],
          "summary": "Get Cities",
          "description": "Retrieve list of cities with pagination and filtering options",
          "tags": [
            "Masters"
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageIndex": {
                      "type": "integer",
                      "description": "Page index for pagination"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of records per page"
                    },
                    "sortKey": {
                      "type": "string",
                      "description": "Field to sort by",
                      "default": "ID"
                    },
                    "sortValue": {
                      "type": "string",
                      "enum": [
                        "ASC",
                        "DESC"
                      ],
                      "description": "Sort order",
                      "default": "DESC"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter criteria"
                    },
                    "STATE_ID": {
                      "type": "integer",
                      "description": "State ID to filter cities"
                    },
                    "COUNTRY_ID": {
                      "type": "integer",
                      "description": "Country ID to filter cities"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Cities retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "success"
                      },
                      "count": {
                        "type": "integer",
                        "description": "Total number of records"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ID": {
                              "type": "integer"
                            },
                            "STATE_ID": {
                              "type": "integer"
                            },
                            "COUNTRY_ID": {
                              "type": "integer"
                            },
                            "NAME": {
                              "type": "string"
                            },
                            "STATUS": {
                              "type": "string"
                            },
                            "CLIENT_ID": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "400": {
                "description": "Error retrieving cities",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "message": {
                          "type": "string",
                          "example": "Failed to get city information..."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/web/district/get": {
        "post": {
          "security": [
            {
              "apikey": []
            }
          ],
          "summary": "Get Districts",
          "description": "Retrieve list of districts with pagination and filtering options",
          "tags": [
            "Masters"
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageIndex": {
                      "type": "integer",
                      "description": "Page index for pagination"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of records per page"
                    },
                    "sortKey": {
                      "type": "string",
                      "description": "Field to sort by",
                      "default": "ID"
                    },
                    "sortValue": {
                      "type": "string",
                      "enum": [
                        "ASC",
                        "DESC"
                      ],
                      "description": "Sort order",
                      "default": "DESC"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter criteria"
                    },
                    "STATE_ID": {
                      "type": "integer",
                      "description": "State ID to filter districts"
                    },
                    "COUNTRY_ID": {
                      "type": "integer",
                      "description": "Country ID to filter districts"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Districts retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "example": 200
                      },
                      "message": {
                        "type": "string",
                        "example": "success"
                      },
                      "count": {
                        "type": "integer",
                        "description": "Total number of records"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ID": {
                              "type": "integer"
                            },
                            "STATE_ID": {
                              "type": "integer"
                            },
                            "COUNTRY_ID": {
                              "type": "integer"
                            },
                            "NAME": {
                              "type": "string"
                            },
                            "STATUS": {
                              "type": "string"
                            },
                            "CLIENT_ID": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "400": {
                "description": "Error retrieving districts",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "message": {
                          "type": "string",
                          "example": "Failed to get district information..."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "/web/country/get": {
          "post": {
            "security": [
              {
                "apikey": []
              }
            ],
            "summary": "Get Countries",
            "description": "Retrieve list of countries with pagination and filtering options",
            "tags": [
              "Masters"
            ],
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "pageIndex": {
                        "type": "integer",
                        "description": "Page index for pagination"
                      },
                      "pageSize": {
                        "type": "integer",
                        "description": "Number of records per page"
                      },
                      "sortKey": {
                        "type": "string",
                        "description": "Field to sort by",
                        "default": "ID"
                      },
                      "sortValue": {
                        "type": "string",
                        "enum": [
                          "ASC",
                          "DESC"
                        ],
                        "description": "Sort order",
                        "default": "DESC"
                      },
                      "filter": {
                        "type": "string",
                        "description": "Filter criteria"
                      }
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "description": "Countries retrieved successfully",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 200
                        },
                        "message": {
                          "type": "string",
                          "example": "success"
                        },
                        "count": {
                          "type": "integer",
                          "description": "Total number of records"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "integer"
                              },
                              "NAME": {
                                "type": "string"
                              },
                              "STATUS": {
                                "type": "string"
                              },
                              "CLIENT_ID": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Error retrieving countries",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 400
                          },
                          "message": {
                            "type": "string",
                            "example": "Failed to get country information..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "/upload/advertisementImage": {
            "post": {
              "summary": "Upload Advertisement Image",
              "description": "Upload advertisement image file",
              "tags": [
                "File Upload"
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "multipart/form-data": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Image": {
                          "type": "string",
                          "format": "binary",
                          "description": "Image file to upload"
                        }
                      },
                      "required": [
                        "Image"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "Image uploaded successfully",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 200
                          },
                          "message": {
                            "type": "string",
                            "example": "success"
                          }
                        }
                      }
                    }
                  }
                },
                "400": {
                  "description": "Upload failed",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 400
                          },
                          "message": {
                            "type": "string",
                            "example": "failed to upload..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "/web/removeFile": {
            "post": {
              "security": [
                {
                  "apikey": []
                }
              ],
              "description": "Remove a file by URL",
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "FILE_URL": {
                          "type": "string",
                          "description": "File URL to remove"
                        }
                      },
                      "required": [
                        "FILE_URL"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/studentExcel": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/answerImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/questionImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/optionImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/taskAttachment": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/appUserProfile": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/ticketImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/instituteLogo": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/activityHeadImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/activityGIF": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/taskImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/rewardImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/animationVideo": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/diamentionImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/bannerImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/activityCategoryImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/appLogsFiles": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/activityThumbnailGIF": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/upload/templateImage": {
            "post": {
              "description": "",
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/contactUs/create": {
            "post": {
              "description": "",
              "responses": {
                "default": {
                  "description": ""
                }
              }
            }
          },
          "/api/form/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/form/create": {
            "post": {
              "summary": "Create Form",
              "description": "Create a new form with name, description and client context",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "NAME": {
                          "type": "string",
                          "description": "Form name"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Form description"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "NAME",
                        "CLIENT_ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/form/update": {
            "put": {
              "summary": "Update Form",
              "description": "Update an existing form by ID",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "description": "Form ID"
                        },
                        "NAME": {
                          "type": "string",
                          "description": "Form name"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Form description"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/role/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/role/create": {
            "post": {
              "summary": "Create Role",
              "description": "Create a new user role",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "NAME": {
                          "type": "string",
                          "description": "Role name"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Role description"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "NAME",
                        "CLIENT_ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/role/update": {
            "put": {
              "summary": "Update Role",
              "description": "Update an existing role by ID",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "description": "Role ID"
                        },
                        "NAME": {
                          "type": "string",
                          "description": "Role name"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Role description"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/role/getChildRoles": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "parentId": {
                          "nullable": true
                        },
                        "employeeId": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/roleDetails/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/roleDetails/addBulk": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "nullable": true
                        },
                        "ROLE_ID": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/roleDetails/getData": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ROLE_ID": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/roleDetails/checkAccess": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ROLE_ID": {
                          "nullable": true
                        },
                        "LINK": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/user/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/user/create": {
            "post": {
              "summary": "Create User",
              "description": "Create a new user with role mapping",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ROLE_DATA": {
                          "type": "array",
                          "description": "Role mapping array"
                        },
                        "NAME": {
                          "type": "string",
                          "description": "User name"
                        },
                        "EMAIL": {
                          "type": "string",
                          "description": "User email"
                        },
                        "MOBILE_NUMBER": {
                          "type": "string",
                          "description": "User mobile number"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ROLE_DATA",
                        "CLIENT_ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/user/update": {
            "put": {
              "summary": "Update User",
              "description": "Update user details and role mapping by ID",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "description": "User ID"
                        },
                        "ROLE_DATA": {
                          "type": "array",
                          "description": "Role mapping array"
                        },
                        "NAME": {
                          "type": "string",
                          "description": "User name"
                        },
                        "EMAIL": {
                          "type": "string",
                          "description": "User email"
                        },
                        "MOBILE_NUMBER": {
                          "type": "string",
                          "description": "User mobile number"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/user/getForms": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ROLE_ID": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/user/changePassword": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "EMPLOYEE_ID": {
                          "nullable": true
                        },
                        "OLD_PASSWORD": {
                          "nullable": true
                        },
                        "NEW_PASSWORD": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/userRoleMapping/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "deviceid",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/globalSettings/getVersion": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "apikey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/globalSettings/updatedVersion": {
            "put": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "MIN_VERSION": {
                          "nullable": true
                        },
                        "CUR_VERSION": {
                          "nullable": true
                        },
                        "APK_LINK": {
                          "nullable": true
                        },
                        "DETOX_TIME": {
                          "nullable": true
                        },
                        "DETOX_DURATION": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/globalSettings/getDetoxInfo": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                },
                {
                  "name": "apikey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/banner/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/banner/create": {
            "post": {
              "summary": "Create Banner",
              "description": "Create a new banner",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "TITLE": {
                          "type": "string",
                          "description": "Banner title"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Banner description"
                        },
                        "SEQ_NO": {
                          "type": "integer",
                          "description": "Sequence number"
                        },
                        "STATUS": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Active status (0/1)"
                        },
                        "URL": {
                          "type": "string",
                          "description": "Banner target URL"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "TITLE",
                        "SEQ_NO",
                        "CLIENT_ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                },
                "422": {
                  "description": "Validation error"
                },
                "400": {
                  "description": "Bad Request"
                }
              }
            }
          },
          "/api/banner/update": {
            "put": {
              "summary": "Update Banner",
              "description": "Update existing banner by ID",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "description": "Banner ID"
                        },
                        "TITLE": {
                          "type": "string",
                          "description": "Banner title"
                        },
                        "DESCRIPTION": {
                          "type": "string",
                          "description": "Banner description"
                        },
                        "SEQ_NO": {
                          "type": "integer",
                          "description": "Sequence number"
                        },
                        "STATUS": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Active status (0/1)"
                        },
                        "URL": {
                          "type": "string",
                          "description": "Banner target URL"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                },
                "422": {
                  "description": "Validation error"
                },
                "400": {
                  "description": "Bad Request"
                }
              }
            }
          },
          "/api/state/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/state/create": {
            "post": {
              "summary": "Create State",
              "description": "Create a new state",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "NAME": {
                          "type": "string",
                          "description": "State name"
                        },
                        "SEQ_NO": {
                          "type": "integer",
                          "description": "Sequence number"
                        },
                        "COUNTRY_ID": {
                          "type": "integer",
                          "description": "Country ID"
                        },
                        "STATUS": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Active status (0/1)"
                        },
                        "IS_DISTRICT_AVALIBLE": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Has districts (0/1)"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "NAME",
                        "SEQ_NO",
                        "COUNTRY_ID",
                        "CLIENT_ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                },
                "422": {
                  "description": "Validation error"
                },
                "400": {
                  "description": "Bad Request"
                }
              }
            }
          },
          "/api/state/update": {
            "put": {
              "summary": "Update State",
              "description": "Update existing state by ID",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "description": "State ID"
                        },
                        "NAME": {
                          "type": "string",
                          "description": "State name"
                        },
                        "SEQ_NO": {
                          "type": "integer",
                          "description": "Sequence number"
                        },
                        "COUNTRY_ID": {
                          "type": "integer",
                          "description": "Country ID"
                        },
                        "STATUS": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Active status (0/1)"
                        },
                        "IS_DISTRICT_AVALIBLE": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "description": "Has districts (0/1)"
                        },
                        "CLIENT_ID": {
                          "type": "integer",
                          "description": "Client ID"
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                },
                "422": {
                  "description": "Validation error"
                },
                "400": {
                  "description": "Bad Request"
                }
              }
            }
          },
          "/api/city/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "nullable": true
                        },
                        "pageSize": {
                          "nullable": true
                        },
                        "sortKey": {
                          "nullable": true
                        },
                        "sortValue": {
                          "nullable": true
                        },
                        "filter": {
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/city/create": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/city/update": {
            "put": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": true,
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "ID"
                      ]
                    }
                  }
                }
              },
              "responses": {
                "200": {
                  "description": "OK"
                }
              }
            }
          },
          "/api/district/get": {
            "post": {
              "description": "",
              "parameters": [
                {
                  "name": "supportkey",
                  "in": "header",
                  "schema": {
                    "type": "string"
                  }
                }
              ],
              "requestBody": {
                "required": false,
[...]
